.container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 400px;
  width: 400px;
}

.square {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s;
}

.square:hover {
  background: #3cc16e;
}

.square:nth-child(n + 4):nth-child(-n + 6) {
  border-bottom: 5px solid;
  border-top: 5px solid;
}

.square:nth-child(n + 2):nth-child(-n + 2),
.square:nth-child(n + 5):nth-child(-n + 5),
.square:nth-child(n + 8):nth-child(-n + 8) {
  border-left: 5px solid;
  border-right: 5px solid;
}

.content {
  position: absolute;
  top: 47%;
  left: 50%;
}
